body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Altura de la ventana para centrar verticalmente */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('../img/fondo1.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Estilos del formulario */



.title_login {
    text-align: center;
    text-decoration-style: solid;




}

.m5px {
    margin-bottom: 5px;
}


/* Estilos de los campos de entrada */

.contenedor-productos input[type="text"],
.contenedor-productos input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.contenedor-productos input[type="file"]{
    width: 50%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}
/* Estilo de enfoque (cuando el usuario interactúa con el campo) */
.contenedor-productos input[type="text"]:focus,
.contenedor-productos input[type="password"]:focus {
    border-color: #007bff;
    /* Cambia el color del borde */
    outline: none;
    /* Elimina el borde por defecto */
    box-shadow: 0 3px 6px rgba(0, 123, 255, 0.2);
    /* Sombra más intensa */
    background-color: #fff;
    /* Fondo blanco */
}


/* Estilo para el botón de inicio de sesión */
.btn_primary {
    background-color: #175f0c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    outline: none;

}


.btn_primary:focus {
    background-color: #0056b3;
    /* Color de fondo más oscuro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Sombra más intensa */
}


p{
    font-weight: bold;
    color:whitesmoke
}