body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

p {
    font-size: 18px;
    color: #333;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #175f0c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color: #14450a;
}
